.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: lightblue;
}


.ArrayInputElement, .ArrayVisElement{
  text-align: center;
  margin-left: 2px;
}

.ArrayVis{
margin-top: 2.5rem;
}

.ArrayInputElement{
  height: 2rem;
  width: 6rem;
  font-size: larger;
  border-radius: 5px;
}

.ArrayVisLabels{
  display: flex;
  font-size: smaller;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.ArrayVisLabels > label {
  margin-left: 35px;
  margin-right: 35px
}

.ArrayVisElement > button{
  font-size: larger;
  width: 75px;
  border-radius: 20px;
}

.ArrayVis, .DisplayButtons, .ArrayInputButtons, .ArrayInputArray, .algorithmOptions{
  display: flex;
  justify-content: center;
}

.ArrayInputArray{ 
  padding-bottom: 10px;
  }

  .Display, h3, h1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .ArrayVisElement.SpecialElement > button{
    background-color: yellow;
    animation: Special-Element-Highlight 1s ease-in-out infinite;
  }

  .DisplayButtons > button, button.options{
    color: white;
    background-color: grey;
    height: 2.2rem;
    width: 8rem;
    margin: .2rem;
    border-radius: .5rem;
  }
  
  .algorithmOptions :nth-child(1), .algorithmOptions :nth-child(2){
    margin-right: 1.5rem;
  }

  .algorithmOptions :nth-child(2), .algorithmOptions :nth-child(3){
    margin-left: 1.5rem;
  }

p{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}


  .algorithmOptions > p{
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-size:x-large;
  }


  @keyframes Special-Element-Highlight {
      50%{
        background-color: yellow;
      }

      100%{
        background-color: white;
      } 
  }
